<% if user_signed_in? && !connect? %>
<div class="panel panel-default">
  <div class="panel-heading">Visitors</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Assigned To</th>
      </tr>
    </thead>
    <tbody>
      <% @visitors.each do |visitor| %>
        <tr>
          <td><%= link_to visitor.name, visitor %></td>
          <td><%= mail_to visitor.email %></td>
          <td><%= visitor.phone %></td>
          <td><%= visitor.status.name %></td>
          <td><%= visitor.user ? visitor.user.name : 'Unassigned' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to 'New Visitor', new_visitor_path, :class => 'btn btn-default' %>
<% end # user_signed_in? %>

<% if connect? %>
<div class="jumbotron">
  <h1>Downtown Cornerstone Church</h1>
  <h2>Connect Desk</h2>
  <p><%= link_to 'Start Here', new_visitor_path, :class => 'btn btn-primary btn-lg' %></p>
</div>
<% end %>

