<p id="notice"><%= notice %></p>
<h3>Visitor</h3>
<p>Name: <%= @visitor.name %></p>
<p>Email: <%= mail_to @visitor.email %></p>
<p>Phone: <%= @visitor.phone %></p>

<div class="btn-group">
  <%= link_to 'Edit', edit_visitor_path(@visitor), :class => "btn btn-default" %>
  <%= link_to 'Back', visitors_path, :class => "btn btn-default" %>
</div>
