<p id="notice"><%= notice %></p>
<h3>Visitor</h3>
<p>Name: <%= @visitor.name %></p>
<p>Email: <%= mail_to @visitor.email %></p>
<p>Phone: <%= @visitor.phone %></p>
<p>Status: <%= @visitor.status.name %></p>
<p>Assigned To: <%= @visitor.user ? @visitor.user.name : 'Unassigned' %></p>
<p>Created By: <%= @visitor.created_by %></p>
<p>Created At: <%= @visitor.created_at %></p>
<p>Last Updated: <%= @visitor.updated_at %></p>

<div class="btn-group">
  <%= link_to 'Edit', edit_visitor_path(@visitor), :class => "btn btn-default" %>
  <%= link_to 'Delete', '#delete-confirm', "data-id" => @visitor.id, 
      :class => "delete-confirm btn btn-danger" if admin? %>
  <%= link_to 'Back', visitors_path, :class => "btn btn-default" %>
</div>

<%= render partial: 'shared/delete_modal', 
    locals: {type: 'visitor', type_path: '/visitors/'} %>
