<div class="container">
  <div class="row">
    <h3>Email Templates</h3>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Body</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @email_templates.each do |email_template| %>
          <tr>
            <td><%= link_to email_template.name, edit_email_template_path(email_template) %></td>
            <td><a class="mypopover" href="#" rel="popover" data-placement="bottom" data-original-title="" data-trigger="hover" data-content="<%= email_template.body %>" ><%= truncate(email_template.body) %></a></td>
            <td><%= link_to 'Delete', '#delete-confirm', "data-id" => email_template.id, :class => "delete-confirm btn btn-danger" if admin? %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="btn-group">
        <%= link_to 'Add New Template', new_email_template_path, :class => "btn btn-default" if admin? %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/delete_modal',
    locals: {type: 'email_template', type_path: '/email_templates/' } %>

<script>
  $(function() {
    $('.mypopover').popover();
  });
</script>
