<p id="notice"><%= notice %></p>

<p>Email Template: <%= @email_template.name %></p>
<textarea readonly disabled rows="10" cols="80"><%= @email_template.body %></textarea>
<br>

<%= link_to 'Edit', edit_email_template_path(@email_template), :class => "btn btn-default" %>
<%= link_to 'Back', email_templates_path, :class => "btn btn-default" %>
